.gallery {
  width: 1128px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 20px;

  list-style: none;
  padding: 0;
}

.gallery-item {
  overflow: hidden;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

  cursor: pointer;
}

.gallery-image {
  transition: transform 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.03);
}
